body {
      font-family: Arial, sans-serif;
      max-width: 800px;
      margin: 40px auto;
      background: #f9f9f9;
      padding: 20px;
      border-radius: 0px;
      box-shadow: 0 0 15px rgba(0,0,0,0.1);
    }

    h1, h2 {
      color: #333;
       font-family: "Montserrat", sans-serif;
    }

    #question {
      padding-bottom: 20px;
      border-bottom: 1px solid #ccc;
      margin-bottom: 20px;
    }

    .answer {
      background: #fff;
      padding: 15px;
      margin-bottom: 10px;
      border-left: 4px solid #4caf50;
      border-radius: 5px;
      margin-top: 5px;
       font-family: "Montserrat", sans-serif;
    }

    .answer b {
      color: #2c3e50;
       font-family: "Montserrat", sans-serif;
    }

    textarea {
     width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
    }

p{
   font-family: "Montserrat", sans-serif;
}

    button {
      padding: 10px 20px;
      background-color: #0066cc;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;
       font-family: "Montserrat", sans-serif;
    }

    button:hover {
      background-color: #0174e8;
       font-family: "Montserrat", sans-serif;
    }

    .error {
      color: red;
      margin-top: 10px;
       font-family: "Montserrat", sans-serif;
    }
   footer{
   display: flex;
    list-style: none;
     justify-content: center;
  /* Добавим цвет и ширину блока для наглядности*/
  background-color: #f9f9f9;
  width: 100%;
   
}

.footer-menu {
  display: flex;
    list-style: none;
    color: #f9f9f9;
    padding: 5px 15px;
}

.footer-menu > li > a{
  color: #000000;
  display: block;
  padding: 5px 15px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.footer-menu > li > a:hover{
  background: #d4d4d4;
  border-radius: 10px;
}   


  .formatted-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
  }


@media screen and (max-width: 600px){

footer {
    justify-content: center;
  }

  .footer-menu {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .footer-menu > li > a {
    padding: 10px 0;
    text-align: center;
  }

  textarea{
    width: 100%;
     height: 100px;
    padding: 10px;
  }
}